
%h3.alert-danger.short-msg.text-center Delete Poster - Are you sure?

.form-sm

  %u You are buyposter to delete this poster

  %p
    =@admin_buyposter.alt

  %p
    -if @admin_buyposter.image_id != nil && @admin_buyposter.image_id != 'no_image'
      =image_tag change_image_url_to_thumbnail(@admin_buyposter.image_url), class:'thumbnail blog-img' #, style: "float: #{buyposter.image_position};"


  %br
  %br

  =button_to 'DELETE POSTER', {:action => 'destroy', :id => @admin_buyposter.id},
  :method => :delete, class: 'btn-default'