
%h3 Select Image

.form-md

  -logger.debug " ADMIN buyposter #{@admin_buyposter.id}"

  =simple_form_for @admin_buyposter, :url => {:action => 'change_image'}, remote: true do |f|

    =f.input :id, :as => :hidden
    =f.input :image_id, :as => :hidden, id: 'image_id'


    #form-gallery

    =f.button :submit, 'Update Poster', class: 'btn-default'


:javascript

  var ready = function () {

    // show the image gallery
      var form_name = 'admin_buyposter';
      var photoset = '72157648885104422';
      var container = '#form-gallery';
      var size = 's';
      var callback = selectImage;
      var image_id_field = 'image_id';

      getFlickrImages(form_name, photoset, container, size, callback, image_id_field);

      //initialise the form buttons
      $('.btn').button();
    };

    $(document).ready(ready);
    $(document).on('page:load', ready);



