
%h3.alert-danger.short-msg.text-center Delete how - Are you sure?

.form-sm

  %u You are about to delete this 

  %p
    =truncate(@admin_how.heading, length: 50, omission: '......')

  %p
    =@admin_how.content

  %br
  %br

  =button_to 'DELETE SECTION', {:action => 'destroy', :id => @admin_how.id},
  :method => :delete, class: 'btn-default'