=image_tag 'innovation_award.jpg', alt: 'innovation', class: 'award img-responsive'

=render 'home/video'

#price-box-wrapper.pull-right
  #price-box
    %h1 $#{@spree_price}
    .unit-std
      %h4.usd USD
      %h4 per unit
    %h3{style: "letter-spacing: #{@buymsg.letter_spacing}"}
      =@buymsg.message
    =link_to image_tag('buy_now.png', alt: 'buy now', class: 'image-link'), '/shop'
    .card-images
      =image_tag 'mastercard.png', size: '30x17'
      =image_tag 'visa.png', size: '30x17'
      =image_tag 'paypal.png', size: '30x17'
      =image_tag 'amex.png', size: '30x17'

.nav-buttons
  =link_to ('<i class="fa fa-download"></i> Download Brochure').html_safe, brochure_path, :method => :get, class: 'btn btn-default btn-lg', id: 'brochure'
  =button_tag '<i class="fa fa-play"></i> Watch Video'.html_safe, class: 'btn btn-default btn-lg', id: 'watch_video'


=render partial: 'shared/social_media', locals: {social_medias: @social_medias}
