
%h3.alert-danger.short-msg.text-center Delete Message - Are you sure?

.form-sm

  %u You are email to delete this email

  %p
    =@admin_email.heading

  %p
    =truncate(@admin_email.body, length: 50, omission: '......')

  %p
    =add_single_line_breaks @admin_email.signature

  %br
  %br

  =button_to 'DELETE EMAIL MESSAGE', {:action => 'destroy', :id => @admin_email.id},
  :method => :delete, class: 'btn-default'