
%h3 Update/Add/Delete Image

.form-md

  =simple_form_for @admin_email, :url => {:action => 'change_image'}, remote: true do |f|

    =f.input :id, :as => :hidden

    =f.input :image_id, :as => :hidden, id: 'image_id'

    #form-gallery

    =f.button :submit, 'Update Email Image', class: 'btn-default'


:javascript

  var ready = function () {

    // show the image gallery
      var form_name = 'admin_email';
      var photoset = '72157648761879412';
      var container = '#form-gallery';
      var size = 's';
      var callback = selectImage;
      var image_id_field = 'image_id';
      var original_secret_field = null;


      getFlickrImages(form_name, photoset, container, size, callback, image_id_field, original_secret_field);

      //initialise the form buttons
      $('.btn').button();
    };

    $(document).ready(ready);
    $(document).on('page:load', ready);



