%ul.bxslider1
  %li
    =image_tag 'image1.png'
  %li
    =image_tag 'image2.png'
  %li
    =image_tag 'image3.png'
  %li
    =image_tag 'image4.png'

#poster
  -if @poster != nil
    -if @poster.image_id != 'no_image' && @poster.image_id != nil
      =image_tag @poster.image_url, alt: @poster.alt





