.main-content#home

  .row
    =render 'shared/subheader'

  .row.image-slider
    =render 'image_slider'

    #poster

  .row.news
    =render 'tabs_content'

    #testimonial-slider
      =render 'text_slider'

  .absolute
    =render 'video'

.overlay