
$text-color: lighten(black, 30%);

p, li, input, textarea {
  font-size: 14px;
}


#admin-nav {
  width: 710px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: black;
}

#admin-content {
  margin-top: 20px;
}

.admin {
  color: $text-color;
  height: 600px;

  .form-sm {
    width: 420px;
  }
  .form-md {
    width: 400px;
  }

  h2 {
    display: inline-block;
  }

  .new-btn {
    margin-bottom: 20px;
    float: right;
  }

  input {
    color: darkslategray;
  }
  input[type=submit] {
    color: #f5f5f5;
  }
  input {
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 400px;
  }
  .help-inline {
    margin-left: 10px;
  }

  table {
    width: auto;
  }

  .text-string-sm {
    width: 120px;
    text-align: center;
  }

  .text-string-md {
    width: 230px;
  }
  .text-string-lg {
    width: 480px;
  }
  .integer-bool {
    text-align: center;
  }
  .fa {
    margin-top: 6px;
  }
  .fa-times-circle {
    color: darkred;
  }

  .tab-view {
    float: left;
    width: 650px;
    height: 90px;
    border-radius: 5px;
    a:hover {
      cursor: move !important;
    }
  }

  .form-view {
    position: relative;
    float: left;
    width: 400px;
    margin-right: 50px;
    margin-top: -20px;
    .bootstrap-switch {
      float: right;
      margin-top: -20px;
    }
    .close-x {
      position: absolute;
      top: 4%;
      left: 102%;
      width: 20px;
    }
  }

  .height-sm {
    height: 250px;
  }

  .height-md {
    height: 250px;
  }
  .height-lg {
    height: 350px;
  }

  .short-msg {
    padding: 10px;
    width: 420px;
  }

  .button:hover {
    cursor: pointer;
  }

  .section input, textarea {
    padding: 10px;
    color: darkslategrey;
  }
  .create-content {
    margin-right: 200px;
  }

  .sortable-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .sortable-list li {
    list-style: none;
    display: inline-block;
    position: relative;
    width: 100%;
    &:hover {
      cursor: move;
    }

    .edit-delete {
      position: absolute;
      left: 100%;
      top: 10%;
      .fa {
        margin-bottom: 10px;
      }
      input {
        display: block;
      }
    }
  }
  .ui-sortable-helper {
    background-color: #d3d3d3;
    opacity: 0.9;
  }
  .fa {
    z-index: 1000;
  }
  .fa-edit, .fa-navicon {
    color: lighten(black, 20%);
  }

  .news-tabs {
    width: 650px;
  }

  #testimonial-content, #faq-content, #about-content, #contact-content, #how-content {
    margin-right: 50px;
  }
  //  #sortable-testimonials, #sortable-faqs, #sortable-abouts, #sortable-contacts, #sortable-hows {
  .sortable-list {
    padding: 10px 25px 10px 10px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: black;
  }

  #testimonial-content li, #faq-content li, #about-content li, #contact-content li, #how-content li {
    padding: 10px 20px 0px 10px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    .quote {
      text-align: justify;
    }
  }
  .signature {
    text-align: right;
    margin-right: 50px;
  }

  .control-group {
    margin-top: 20px;
  }

  .bootstrap-switch {
    height: 20px !important;
  }

  .bootstrap-switch-mini {
    width: 50px !important;
  }
  .bootstrap-switch-label {
    padding: 0;
  }

  #form-gallery, #form-gallery2 {
    margin: 0px auto 20px auto;
    width: 400px;
    height: 160px;
    overflow: auto;
    img {
      display: inline;
      padding: 5px;
      margin: 2px;
      height: 75px;
      width: 75px;
      border: 3px solid #d3d3d3;
      border-radius: 5px;
      background-color: #f5f5f5;
    }
  }

  .btn-group {
    margin-right: 30px;
    margin-bottom: 20px;
  }

  fieldset {
    width: 170px;
    display: inline-block;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 0px 0px 10px 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    background: whitesmoke;
    h4 {
      border-bottom: 1px solid #f5f5f5;
      line-height: 1.6em;
    }
    .btn-group {
      margin: 0 0 10px 0;
    }

  }
  .admin_section_truncation {
    margin-top: -10px;
    label, input {
      float: left;
      margin: 0 0 10px 0;
    }
    label {
      margin-top: 5px;
      margin-right: 10px;
    }
  }
  .opaque {
    opacity: 0.5;
  }
}

//GLOBAL
.controls, .control-group {
  position: relative;
}

.help-inline {
  position: absolute;
  top: 10%;
  left: 100%;
  color: red;
  font-weight: bold;
  font-size: 1.4em;
}

.dropdown-menu a {
  font-family: "FontAwesome";
  background: whitesmoke;
  color: darkgrey;
}


#helper-list {
  position: absolute;
  background-color: lightgrey;
  color: lighten(black, 40%);
  z-index: 100;
  width: 190px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  top: 0;
  left: 50%;
  border-radius: 5px;
  .helper-type {
    width: 180px;
    float: left;
    text-align: left;
    margin: 10px 0px 10px 40px;
    p, .lead{
      margin: 0;
      padding: 0;
    }
  }
  h4 {
    margin: 0;
    font-family: "FontAwesome", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    &:hover {
      cursor: pointer;

    }
  }

}



.quick-links {
  margin-top: 40px;
  background-color: #f5f5f5;
  width: 240px;
  height: auto;
  padding: 5px 15px 15px 15px;
  border-radius: 5px;
  p {
    font-size: 1.7em;
    margin: 15px;
    font-family: "FontAwesome", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  }
}





