// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.contact-div {
  display:inline-block;
  height: auto;
  width: 350px;
}

#addresses {
  margin-top: 20px;
}

#contact-form {
  position: relative;
  margin-top: -100px;
  margin-left: 10px;
  padding: 10px;
  background-color: lighten(#d3d3d3,10%);
  border-radius: 10px;

  .control-group {
    margin-left: 0;
    display: inline-block;
  }

.fa {
  position: absolute;
  top:30%;
  left:45%;
  color:#428bca;
}
  textarea, input {
    padding: 10px;
    margin: 10px 10px 10px 15px;
    font-size: 1.1em;
  }
  input {
    width: 280px;
  }
  textarea {
    width: 580px;
  }

  input[type=submit] {
    width: 200px;
    margin-right: 10px;
    display: inline-block;
    font-family: "FontAwesome";
    &:link {
      background-color: red;
    }
  }

 .help-inline {
   left: 90%;
 }
}

// MEDIA QUERIES____________________________________________________

/*******************************************************************/

@media (max-width: $screen-xs-max) {

  #contact-form {
    margin-top: 10px;
    textarea {
      width: 280px;
    }
  }

}
/*******************************************************************/
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  #contact-form {
    margin-top: 10px;
    textarea {
      width: 280px;
    }
  }


}

/*******************************************************************/
/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

  #spree-shop-nav {
    margin-top: 0px;
  }

  #contact-form {
    margin-top: 10px;
    textarea {
      width: 280px;
    }
  }

}

/*******************************************************************/
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}

/*******************************************************************/
