// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.contact-div {
  display:inline-block;
  height: 200px;
  width: 350px;
}

#addresses {
  margin-top: 20px;
}

#contact-form {
  position: relative;
  margin-top: -100px;
  margin-left: 10px;
  padding: 10px;
  background-color: lighten(#d3d3d3,10%);
  border-radius: 10px;

  .control-group {
    margin-left: 0;
    display: inline-block;
  }

.fa {
  position: absolute;
  top:30%;
  left:45%;
  color:#428bca;
}
  textarea, input {
    padding: 10px;
    margin: 10px 10px 10px 15px;
    font-size: 1.1em;
  }
  input {
    width: 280px;
  }
  textarea {
    width: 585px;
  }

  input[type=submit] {
    width: 200px;
    margin-right: 10px;
    display: inline-block;
    font-family: "FontAwesome";
    &:link {
      background-color: red;
    }
  }

 .help-inline {
   left: 90%;
 }
}


