
#home {
  position: relative;
  height: auto;
  background: none;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: justify;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.testimonial {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
}

.news-content .bx-wrapper {
  width: 470px;
  display: inline-block;
  padding-left: 20px;
  z-index: $zindex_button;
}

.testimonial p {
  margin: 0 25px 0 0;
  padding: 0;
  color: black;
  font-style: italic;
  font-weight: bold;
  text-align: right;
}

.image-slider {
  position: relative;
}

#poster {
  position: absolute;
  top: 5%;
  left: 7%;
  img {

  }
}

#tabs a:hover {
  cursor: pointer;
}

#video-outer {
  position: relative;
  z-index: 1002;
  display: none;
}


.close-icon {
  position: absolute;
  top: 0;
  left: 95%;
  width: 5%;
  height: auto;

//  margin-right: 10%;
//  width: 4%;
//  height: auto;
  Z-index: 2000;
  &:hover {
    opacity: 0.8;
  }
}

.overlay {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:#000;
  opacity:0.8;
  display:none;
  z-index:1001;
}








