.main-content#testimonials
  %h2.text-primary Some feedback from our users


  -@testimonials.each do |testimonial|
    .testimonial
      %blockquote
        =add_double_line_breaks testimonial.content
        %br
        %div.pull-right.signature
          %cite
            =testimonial.signature
        %br