
%h3.alert-danger.short-msg.text-center Delete Link - Are you sure?

.form-sm

  %u You are about to delete this social media link

  %p
    =@admin_social_media.alt

  %p
    =truncate(@admin_social_media.link, length: 50, omission: '......')



  %br
  %br

  =button_to 'DELETE SOCIAL MEDIA LINK', {:action => 'destroy', :id => @admin_social_media.id},
  :method => :delete, class: 'btn-default'