.container.admin

  .row.heading

    %h2 Social Media Updates

    -# New Testimonial Link
    =link_to (button_tag '<i class="fa fa-navicon"></i> New'.html_safe, class: 'btn btn-default btn-lg new-btn'),
        new_admin_social_media_path, remote: true

  .row
    .col-lg-7
      #social_media-content
        -#  Show the current social_media in a sortable list
        =render 'content'

    -# Show the New/Edit form
    .col-lg-5
      .form-view.create-content




:javascript

  var ready = function () {


  initialiseSortableList('#sortable-social_medias','admin_social_medias/update_list_order', 'admin_social_medias/index')

  };

  $(document).ready(ready);
  $(document).on('page:load', ready);